<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/rejestracja.css">
    <link rel="icon" href="/Grafiki/ff.ico" type="image/png" size="32">
    <title>Strona Rejestracji</title>
</head>
<body>

<div class="container">
    <div class="registration-form">
        <h2>Rejestracja</h2>
<!--        <form action="#" method="post" onsubmit="return validateForm()">-->
        <form action="#" th:action="@{/klienci/dodajform}" th:object="${klient}" method="post">
        <input type="text" id="imie" name="imie" placeholder="Imię" required>
            <input type="text" id="nazwisko" name="nazwisko" placeholder="Nazwisko" required>
            <input type="email" id="email" name="email" placeholder="E-mail" required>
            <input type="text" id="login" name="login" placeholder="Login" required>
            <input type="password" id="haslo" name="haslo" placeholder="Hasło" required>
            <input type="password" id="potwierdzHaslo" name="potwierdzHaslo" placeholder="Powtórz hasło" required>
            <button type="submit">Zarejestruj się</button>

            <div class="error-message" style="display: none;">
                <p></p>
            </div>
        </form>
    </div>

    <script>
        function validateForm() {
            var imie = document.getElementById("imie").value.trim();
            var nazwisko = document.getElementById("nazwisko").value.trim();
            var email = document.getElementById("email").value.trim();
            var login = document.getElementById("login").value.trim();
            var haslo = document.getElementById("haslo").value.trim();
            var potwierdzHaslo = document.getElementById("potwierdzHaslo").value.trim();
            var errorDiv = document.querySelector(".error-message");
            var errorMessage = "";

            // Sprawdzenie uzupełnienia wszystkich pól
            if (!imie || !nazwisko || !email || !login || !haslo || !potwierdzHaslo) {
                errorMessage = "Wszystkie pola są wymagane.";
                errorDiv.innerHTML = "<p>" + errorMessage + "</p>";
                errorDiv.style.display = "block";
                return false;
            }

            // Sprawdzenie poprawności adresu e-mail
            var emailPattern = /^[^\s@]+@[^\s@]+\.[^\s@]+$/;
            if (!emailPattern.test(email)) {
                errorMessage = "Nieprawidłowy adres e-mail.";
                errorDiv.innerHTML = "<p>" + errorMessage + "</p>";
                errorDiv.style.display = "block";
                return false;
            }

            // Sprawdzenie zgodności haseł
            if (haslo !== potwierdzHaslo) {
                errorMessage = "Hasło i potwierdzenie hasła są różne!";
                errorDiv.innerHTML = "<p>" + errorMessage + "</p>";
                errorDiv.style.display = "block";
                return false;
            }

            // Ukrycie komunikatu o błędzie, jeśli wszystko jest w porządku
            errorDiv.style.display = "none";
            return true;
        }
    </script>

    <div class="circle-area">
        <div class="circle">
            <div class="circle-text">Stwórz konto</div>
            <div class="circle-text2">Tutaj znajdziesz formularz rejestracyjny.</div>
            <button type="button">Przycisk</button>
        </div>
    </div>
</div>

</body>
</html>
